* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eaeaea;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu > ul li {
  float: right;
  margin-right: 25px;
}

.menu > ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-areas: "sidenav main main main main";
  grid-gap: 15px;
  padding: 10px;
}

.grid-container .sidenav {
  margin-top: 15px;
  grid-area: sidenav;
}
.grid-container .main {
  margin-top: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  max-height: fit-content;
  grid-area: main;
}

.content {
  margin: 20px 10px 15px 25px;
}

.content .title {
  font-weight: bold;
  font-size: 18px;
  color: #585858;
}

.green {
  background-color: #15b150;
}

.yellow {
  background-color: #febf13;
}

.purple {
  background-color: #702fa0;
}

.red {
  background-color: #9e2736;
}

.cubes {
  display: inline;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.cubes .cube {
  border-radius: 10px;
  height: auto;
  max-width: 200px;
  display: inline-block;
  margin: 10px 15px 15px 15px;
}

.cubes .cube .content {
  padding: 10px;
}

#panels .panels {
  text-align: center;
}

#panels .panels img {
  width: 90%;
  padding-top: 5px;
}

#panels .panel1,
#panels .panel2,
#panels .panel3 {
  display: inline-block;
  width: 22%;
  margin: 0 10px 0 10px;
  font-size: 15px;
  color: white;
  text-align: center;
}

#panels .panels p {
  color: #b0afb4;
}

#panels .panel1 > div {
  background-color: #bde8ef;
}

#panels .panel2 > div {
  background-color: #fbeccd;
}

#panels .panel3 > div {
  background-color: #ebccd1;
}

#panels .panel1 {
  border: 2px solid #bde8ef;
}

#panels .panel2 {
  border: 2px solid #fbeccd;
}

#panels .panel3 {
  border: 2px solid #ebccd1;
}

/***/

#users .panels img {
  width: 50%;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 40px;
}

#users button {
  background-color: #c7dff3;
  color: #fff;
  border-radius: 5px;
  border: 0;
  height: 22px;
  width: 90px;
}

#users .panel {
  display: inline-block;
  width: 22%;
  margin: 0 10px 0 10px;
  font-size: 15px;
  color: white;
  text-align: center;
  background-color: #437b92;
}

.navbar {
  height: 80px;
  background-color: #1f577c;
}

.navbar .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav1 {
  background-color: #44728a;
  color: #fff;
  text-align: left;
  margin: 0 40px 0 20px;
}

.nav1 .header {
  background-color: #1f577c;
  font-weight: bold;
  text-align: left;
  height: 40px;
  padding: 2px 0 2px 17px;
}

.nav1 .header > p {
  margin-left: 15px;
  font-size: 15px;
  padding-top: 10px;
}

.nav1 .list > ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  padding: 5px;
}

.nav1 .list > ul li img {
  width: 10%;
  padding-right: 2px;
}

.nav2 {
  background-color: #fff;
  color: #8d8d8d;
  text-align: left;
  margin: 20px 40px 0 20px;
}

.nav2 .header {
  background-color: #1f577c;
  font-weight: bold;
  text-align: left;
  height: 40px;
  padding: 2px 0 2px 17px;
}
.nav2 .header > p {
  color: #fff;
  margin-left: 15px;
  font-size: 15px;
  padding-top: 10px;
}

.progress {
  vertical-align: top;
  padding: 1px 0 10px 17px;
  font-size: 14px;
  font-weight: bold;
  color: #3d3d3d;
}

.progress progress[value] {
  height: 20px;
  width: 80%;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid silver;
}

.progress progress[value]::-webkit-progress-bar {
  background-color: rgb(230, 230, 230);
}

.prog1[value]::-webkit-progress-value {
  background-color: rgb(73, 36, 73);
}

.prog2[value]::-webkit-progress-value {
  background-color: rgb(41, 99, 57);
}

.prog3[value]::-webkit-progress-value {
  background-color: rgb(223, 123, 31);
}
